<configuration>
<system.serviceModel>
  <services>
    <service name="bloodhound.bloodhoundServiceType">
      <endpoint address="http://www.bloodhound.com:81/bloodhoundService" binding="webHttpBinding" contract="bloodhound.IbloodhoundService"/>
    </service>
  </services>
  <bindings>
    <webHttpBinding>
      <binding name="secure">
        <security mode="Transport">
          <transport clientCredentialType="Basic"/>
        </security>
      </binding>
    </webHttpBinding>
  </bindings>
  <behaviors>
    <endpointBehaviors>
    </endpointBehaviors>
  </behaviors>
</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
